{
    "breadcrumbs.enabled": false,
    "cSpell.language": "en-GB",
    "diffEditor.ignoreTrimWhitespace": false,
    "editor.lineNumbers": "relative",
    "editor.minimap.enabled": false,
    "editor.tabSize": 2,
    "elixirLS.fetchDeps": false,
    "explorer.confirmDragAndDrop": false,
    "files.associations": {
        "*.html.leex": "html-eex",
        "*.leex": "html-eex"
    },
    "gitlens.menus": {
        "editor": false,
        "editorGroup": false,
        "editorTab": false,
        "explorer": false,
        "scmGroup": false,
        "scmItem": false
    },
    "path-autocomplete.triggerOutsideStrings": true,
    "ruby.codeCompletion": "rcodetools",
    "ruby.format": "rubocop",
    "ruby.intellisense": "rubyLocate",
    "ruby.useLanguageServer": true,
    "terminal.integrated.allowChords": false,
    "typescript.tsserver.log": "verbose",
    "typescript.updateImportsOnFileMove.enabled": "always",
    "vim.smartRelativeLine": true,
    "window.title": "${activeEditorLong}${separator}${rootName}",
    "window.zoomLevel": 2,
    "workbench.activityBar.visible": true,
    "workbench.editor.closeEmptyGroups": false,
    "workbench.editor.labelFormat": "short",
    "workbench.editor.revealIfOpen": true,
    "workbench.editor.showTabs": true,
    "workbench.sideBar.location": "left",
    "workbench.statusBar.visible": true,
    "zenMode.fullScreen": false,
    "zenMode.hideLineNumbers": false,
    "zenMode.hideTabs": false
}